{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'kafka_test/kafka-test.css' %}">
  </head>
  <body>

    <h1>Django Example</h1>

    <div class="d-flex">
      <form class="message-form" method="post">{% csrf_token %}
        <div class="row g-2">
          <div class="col">
            {{ form.value }}
          </div>
          <div class="col">
            <button type="submit">Send a test message</button>
          </div>
        </div>
      </form>

      {% if messages %}
      <div class="messages">
          {% for message in messages %}
          <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {{ message }}
          </div>
          {% endfor %}
      </div>
      {% endif %}
    </div>

    {% if recent %}
    <h3>Latest archived</h3>
    <ul class="latest">
      {% for item in recent %}
        <li>
          <span class="value">{{ item.value }}</span>
          <span class="timestamp">{{ item.timestamp }}</span>
          <span class="delay">({{ item.delay_ms }}ms)</span>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>