---
version: '2'
services:
  # Apache zookeeper provides services for Kafka
  zookeeper:
    image: confluentinc/cp-zookeeper:6.1.1
    hostname: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  # The kafka broker
  broker:
    image: confluentinc/cp-server:6.1.1
    hostname: broker
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "9101:9101"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_CONFLUENT_LICENSE_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CONFLUENT_BALANCER_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
      KAFKA_CONFLUENT_SCHEMA_REGISTRY_URL: http://schema-registry:8081
      CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: broker:29092
      CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 1
      CONFLUENT_METRICS_ENABLE: 'true'
      CONFLUENT_SUPPORT_CUSTOMER_ID: 'anonymous'
    volumes:
      - kafka-data:/var/lib/kafka/data

  # Schema registry
  schema-registry:
    image: confluentinc/cp-schema-registry:6.1.1
    hostname: schema-registry
    depends_on:
      - broker
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'broker:29092'
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081

  # RESTful proxy for kafka
  # rest-proxy:
  #   image: confluentinc/cp-kafka-rest:6.1.1
  #   hostname: rest-proxy
  #   depends_on:
  #     - broker
  #     - schema-registry
  #   ports:
  #     - 8082:8082
  #   environment:
  #     KAFKA_REST_HOST_NAME: rest-proxy
  #     KAFKA_REST_BOOTSTRAP_SERVERS: 'broker:29092'
  #     KAFKA_REST_LISTENERS: "http://0.0.0.0:8082"
  #     KAFKA_REST_SCHEMA_REGISTRY_URL: 'http://schema-registry:8081'

  # Web front-end
  nginx:
    image: nginx
    volumes:
      - ./nginx:/etc/nginx
      - ./django-static:/etc/nginx/html/static
    ports:
      - 8888:80
      - 8443:443
      - 8080:8080

  # Postgres database
  postgres:
    image: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  # Redis key/value store
  redis:
    image: redis
    ports:
      - 6379:6379

  # Django web applications
  django:
    build: django
    command: gunicorn -c /django/gunicorn.conf.py
    volumes:
      - ./django:/django
      - ./avro_schemas:/avro_schemas:ro
      - ./django-static:/django-static
    environment:
      - BOOTSTRAP_SERVERS=broker:29092
      - SCHEMA_REGISTRY_URL=http://schema-registry:8081
      - AVRO_SCHEMAS_ROOT=/avro_schemas
    ports:
      - 9090:9090

  # Django data archiver
  django_archiver:
    build: django
    command: python manage.py run_kafka_consumer
    depends_on:
      - broker
      - schema-registry
    volumes:
      - ./django:/django
      - ./avro_schemas:/avro_schemas:ro
      - ./django-static:/django-static
    environment:
      - BOOTSTRAP_SERVERS=broker:29092
      - SCHEMA_REGISTRY_URL=http://schema-registry:8081
      - AVRO_SCHEMAS_ROOT=/avro_schemas

    
volumes:
  kafka-data:
  postgres-data:
